!/data/
/data/my_test_balanced.csv
/data/my_train_balanced.csv
/data/personality_essay.csv

/src/results.csv
/src/results_copy.csv
!/users/user_embeddings/
/users/user_embeddings/_.txt

/users/train_balanced_user.csv
# /users/train_balanced_user_custom.csv
/users/mr.p
/users/__pycache__/*
/src/mainbalancedpickle.p
/src/models
/confirm.txt
/cookies.txt
/fastText/*
/src/__pycache__/*
/src/graphs/*
/src/nohup.out
data/comments.json
users/checkpoint
users/confirm.txt
users/cookies.txt
users/data_helpers.pyc
users/files.zip
users/models/
users/my_model-1.data-00000-of-00001
users/my_model-1.index
users/my_model-1.meta
users/text_cnn.pyc
users/user_embeddings/confirm.txt
users/user_embeddings/cookies.txt
users/user_embeddings/user_gcca_embeddings.npz
